* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.form__label{
    cursor: pointer;
}

.form__input-error {
    /*display: none;*/
}

.form__input-error-activo {
    display:block;
}

.form__validacion-estado{
    position: absolute;
    right: 12px;
    bottom: 10px;
    width:20px;
}
